html{
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}
ul {
    list-style: none;
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a {
    text-decoration: none;
}